@tailwind base;
@tailwind components;
@tailwind utilities;

[contentEditable] {
  outline: 0px solid transparent;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

br {
  line-height: 12px;
}
