@tailwind base;
@tailwind components;
@tailwind utilities;

[contentEditable] {
  outline: 0px solid transparent;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

:root {
  --list-style-ul: disc;       
  --list-style-ol: decimal;   
}

br {
  line-height: 12px;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
